
<h2> <%= @state.state %> </h2>
<h3> <%=@state.stations.count %> Charging Stations</h3> <!--This does not work...relationship may not be correct.  Update- you are correct.  See the e.state = state line Robin added in seeds.rb file.-->

<div id="home"> <%= link_to "Home", root_path %> </div>



<div id="map"></div>

<script>
console.log("mapbox");

L.mapbox.accessToken = "pk.eyJ1IjoiYXJzbTgwMCIsImEiOiJjaWw2emQ0cG4wMDR1dWttMHpqbnNreTduIn0.UNqZukLBJRc2FuAvpwVuWQ";

var map = L.mapbox.map("map", "mapbox.dark")
.setView([ "<%= @state.latitude %>", "<%= @state.longitude %>" ], 7);

$.getJSON("/stations_json", function(response) {
  console.log(response);
  response.forEach(function(station) {
    if (station.state_abbr === "<%= @state.state_abbr %>") {
    var marker = L.marker([parseFloat(station.latitude), parseFloat(station.longitude)]);
    marker.addTo(map);
  }
  });
});

</script>
